<!DOCTYPE html>
<html>
    <head>
        <title>Pick&Play</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    </head> 
    
    <body class="body">
        {% block content %}
        <div class="main" script="width=100%">
            <!-- !PAGE CONTENT! -->
            <!-- Cabeçalho--> 
            
            <header id="inicio" style="border: 20px solid #ccc; background-color: #ccc;">
                <div class="row top-nav d-flex justify-content-center">
                    <div class="col d-flex justify-content-around">
                        <button class="button" id="selectedbtn"><i class="fa fa-house"></i>Home</button>
                        <div class="form-check form-switch" style="padding-top: 1%;">
                            <input type="checkbox" class="form-check-input" id="checkbox" onclick="toggleDarkMode()">
                            <label class="form-check-label" for="checkbox"><p class="theme" style="padding-left: 5px;"><i class="fa-solid fa-circle-half-stroke fa-rotate-180"></i></p></label>
                        </div>
                        <div class="d-flex justify-content-center">
                            
                            <button onclick="location.href='/1v1mode';" class="button"><i class="fa fa-handshake"></i>Singleplayer</button>
                            <button onclick="location.href='/multiplayer';"class="button"><i class="fa fa-users"></i>Multiplayer</button>
                            <button onclick="location.href='/standings';"class="button"><i class="fa fa-list-ol"></i>Standings</button>
                            <button onclick="location.href='/results';" class="button"><i class="fa fa-bars"></i>Results</button>
                            <button onclick="location.href='/stats';" class="button"><i class="fa fa-address-book"></i>Player Stats</button>
                        </div>
                        {% if userLogged %}
                        <div class="d-flex justify-content-end">
                            <button onclick="location.href='/profile'" class="wallet" disabled><i class="fa fa-wallet"></i>{{ wallet }}€</button>
                            <button onclick="location.href='/logout'" class="button logged" id="logout"><i class="fa fa-sign-in"></i>Logout</a>
                            <button onclick="location.href='/profile'" class="button logged"><i class="fa fa-user"></i>Profile</a>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-end">
                            <button onclick="location.href='/login'" class="button unlogged"><i class="fa fa-sign-out"></i>Login</a>
                            <button onclick="location.href='/register'" class="button unlogged"><i class="fa fa-user-plus"></i>Sign Up</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </header>
            

            {% for message in get_flashed_messages() %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}  
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>  
            {% endfor %}
            <!--Conteúdo-->
            <div class="d-flex row justify-content-center" style= "font-size: xx-large; font-weight: bolder;">
                Welcome to Pick&Play!
            </div>

            <div class="d-flex row justify-content-center" style="font-weight: bolder; font-size: 15px;">
                The website where your basketball knowledge and betting skills can earn you big rewards!
            </div>    
            
            <div class="d-flex row justify-content-center" style="font-weight: bolder; font-size: 15px;">
                To get started, learn about the game modes below.
            </div>     
           
            <div class="container justify-content-center" style="width: 80%;">

                <div class="row justify-content-center" style="margin-top: 4%;">
                    <div class="col-md-6" style="padding-right: 30px;">
                        <div class="row justify-content-center">
                            <button onclick="location.href='/1v1mode';" class="button"><i class="fa fa-handshake"></i>1v1 Mode</button>
                        </div>
                        <div class="row justify-content-center" style="font-size: 15px; margin-top: 2%;">
                            <strong>How does it work?</strong>
                            <br>
                        Every day, the NBA showcases its daily games, providing users the opportunity to place a wager on their predicted winner. 
                            <br>
                        The user specifies the amount they wish to bet and then waits for a match-up with another user who has bet the same amount on the opposing team.
                            <br>
                        Once a match is made, the outcome of the game determines the winner. The user who correctly predicted the winning team claims the entire pot at the end of the match.
                            <br>    

                        <strong>What if no one joins the bet?</strong>
                            <br>
                        If no opponent joins the bet until the beginning of game, the bet is canceled and the credits used on the bet are restored to the users wallet.

                        <strong>Are there any limits on the amount of games user's can bet in the 1v1 mode?</strong>
                            <br>
                        No, every user is allowed to bet on any and every one of the daily games they choose, as long as they are over 18 years old. However, we advise our user's to play with moderation and maintain a calm and balanced approach.
                        </div>
                    </div>
                    
                    <div class="col-md-6" style="padding-left: 30px;">
                        <div class="row justify-content-center" style="font-size: 15px">
                            <button onclick="location.href='/multiplayer';"class="button"><i class="fa fa-users"></i>Multiplayer Mode</button>
                        </div>
                        <div class="row justify-content-center" style="font-size: 15px; margin-top: 2%;">
                            <strong>How does it work?</strong>
                            <br>
                        The user specifies the amount they wish to bet and then selects the winners of every single one of the daily games. 
                            <br>
                        Once the bet is made, the user waits for other players to join the bet. Once all players lock in their choices, they must wait for the games to end. Once the results are out, points are attributed based on correct picks.
                            <br> The top 3 participants with the most points earn money prizes relative to the total amount on the pot.
        
                            <strong>How are points earned in the multiplayer mode?</strong>
                            <br>
                        Points are earned by the user's ability to guess the winner of each match. For each correct pick, the user earns 3 points, however, for each incorrect pick, the user doesn't gain any points.
                        
                            <strong>What if there is a draw in the amount of points?</strong>
                            <br>
                        If two or more participants are drawn in the top 3 users with the most points by the end of all games. The sum of the percentages of winnings of their respective spots in the leaderboard are divided by the number of drawn players and the rewards are distributed evenly.
                        
                        </div>
                    </div>
                </div>
            
            </div>
            
            
            
        {% endblock %}
    </body>        
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        if (localStorage.getItem('theme') == 'dark') {
            toggleDarkMode();
            if(document.getElementById('checkbox').checked) {
                localStorage.setItem('checkbox', true);
            }
        }
        function toggleDarkMode() {
            let isDark = document.body.classList.toggle('darkmode');
            if (isDark) {
                toggleDarkMode.checked = true;
                localStorage.setItem('theme','dark');
                document.getElementById('checkbox').setAttribute('checked', 'checked');
                document.getElementById('inicio').style.background = "#222";
                document.getElementById('inicio').style.border = "20px solid #222";
                
            } else {
                toggleDarkMode.checked = false;
                localStorage.removeItem('theme', 'dark');
                document.getElementById('inicio').style.backgroundColor = "#ccc";
                document.getElementById('inicio').style.border = "20px solid #ccc";
            }
        }
    </script>
</html>