.vscode
*.class
*.o
*~
~*
*.pyc
__pycache__
src/.antlr
src/secondLang/.antlr
src/*.class
src/agl.tokens
src/agl.interp
src/aglLexer.java
src/aglParser.java
src/aglListener.java
src/aglLexer.tokens
src/aglLexer.interp
src/aglBaseListener.java
src/aglVisitor.java
src/aglBaseVisitor.java
src/xagl.tokens
src/xagl.interp
src/xaglLexer.interp
src/xaglLexer.tokens
src/xaglBaseListener.java
src/xaglBaseVisitor.java
src/xaglLexer.java
src/xaglParser.java
src/xaglListener.java
src/xaglVisitor.java
src/aux_files/*.txt 
src/out.py
